

:root{
	--main-color_r:80;
	--main-color_g:80;
	--main-color_b:80;
    --main-color: rgb(var(--main-color_r), var(--main-color_g),var(--main-color_b))
}


#logo{
	position: absolute;
	top: 97vh;
	left: 45vw;
	text-align: center;
	z-index: 20;
	color: red;
	font-size: 150%;
	color: white;
	font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
	opacity: 0.2;
	z-index: 1;

}

body{
	margin: 0px;
	padding: 0px;
}

#the_scrollview{
	height: 90vh;
	width: 100vw;

}

#top_bar{
	background: rgb(40,40,40);
	width: 100vw;
	height: 7vh;

	box-shadow: 0px 0px 1em 0.5em black;
	z-index: 10;
	position: absolute;
	visibility: hi
}

#top_bar_accent{
	position: absolute;
	width: 100vw;
	height: 5vh;
	top: 7vh;
	background: rgb(40,40,40);
	border-top: 1px solid white;
	z-index: 20;
	box-shadow: 0em 0em 1em 0.2em black;
}


#top_bar_accent.active{
	background: red;
	animation: scrolldown 0.1s linear forwards;
}

#left_bar{
	left: 2vw;
}

#right_bar{
	right: 2vh;
}

.bar{
	background: linear-gradient(rgb(10,10,10),rgb(20,20,20));
	border-right: 2px solid grey;
	width: 0.1vw;
	height: 15vh;
	top: -7vh;
	position: absolute;
	box-shadow: 0em 0em 0.1em 0.1em rgb(40,40,40) ;
	z-index: 2;
}

.bar.active{
	animation: scrolldown2 0.1s forwards;
}


@keyframes scrolldown2{
	from {
		background: rgb(40,40,40);

	}
	to{
		background: rgb(30,30,30);
		top: 5vh;
	}
}

@keyframes scrolldown{
	from {
		background: rgb(40,40,40);
		top: 7vh;

	}
	to{
		background: rgb(70,70,70);
		top: 20vh;
	}
}

#low_bar{
	width: 100vw;
	height: 3vh;
	background: pink;
	background: rgb(40,40,40);
	box-shadow: 0px 0px 1em 0.5em black;
	z-index: 10;
	position: absolute;
}
