

:root{
	--main-color_r:80;
	--main-color_g:80;
	--main-color_b:80;
    --main-color: rgb(var(--main-color_r), var(--main-color_g),var(--main-color_b))
}

body{
	background: rgb(40,40,40);
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}

body *{
	margin: 0;
	padding: 0;
	font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
}


#fullscreen{
	width: 99.9vw;
	height: 87.5vh;
	top: 7vh;
	background: blue;
	position: absolute;
	opacity: 0.95;
	z-index: 2147483647;
	overflow: hidden;
	display: none;	
	box-sizing: border-box;	
	border: 1px dotted white;
	box-shadow: 0em 0em 0.5em 0.1em  black inset;

}

#fullscreen_content{
	width: 100%;
	height: 100%;
	
}
#fullscreen_close{
	position: absolute;
	color: rgb(200,200,200);
	left: 94vw;	
	top: 1vh;
	font-size: 150%;
	font-family: "Arial";
}

#fullscreen_close:hover{
	color: rgb(255,255,255);
	cursor: pointer;
}



body{
	margin: 0px;
	padding: 0px;
}

#the_scrollview{
	height: 84vh;
	width: 100vw;

}

#top_bar{
	background: rgb(40,40,40);
	width: 100vw;
	height: 7vh;

	box-shadow: 0px 0px 1em 0.5em black;
	z-index: 10;
	position: absolute;
}


#top_bar_accent{
	position: absolute;
	width: 100vw;
	height: 5vh;
	top: 7vh;
	background: rgb(40,40,40);
	border-top: 1px solid white;
	z-index: 20;
	box-shadow: 0em 0em 1em 0.2em black;
}


#top_bar_accent.active{
	background: red;
	animation: scrolldown 0.1s linear forwards;
}

#left_bar{
	left: 2vw;
}

#right_bar{
	right: 2vh;
}

.bar{
	background: linear-gradient(rgb(10,10,10),rgb(20,20,20));
	border-right: 2px solid grey;
	width: 0.1vw;
	height: 15vh;
	top: -7vh;
	position: absolute;
	box-shadow: 0em 0em 0.1em 0.1em rgb(40,40,40) ;
	z-index: 2;
}

.bar.active{
	animation: scrolldown2 0.1s forwards;
}


#top_bar_holder{
	background: blue;
	width: 100%;
}

@keyframes scrolldown2{
	from {
		background: rgb(40,40,40);

	}
	to{
		background: rgb(30,30,30);
		top: 5vh;
	}
}


#low_bar{
	width: 100vw;
	height: 3vh;
	background: rgb(40,40,40);
	box-shadow: 0px 0px 1em 0.5em black;
	bottom: 1vh;
	position: fixed;
}

#logo{

	font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
	position: relative;
	font-size: 120%;
	color: white;
	opacity: 0.2;
	z-index: 1000;
	display: block;
	align-text: center;
	margin-left: 45%;
	margin-top: 2%;
}