
.main_container{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    background: var(--main-color);
	padding-top: 0.5em;


}

.components_grid_width_scrollview_container{
    height: 20%;
    margin-top: 0px;
    padding-top: 0px;
    box-sizing: border-box;

}

.test_div{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.test_div::-webkit-scrollbar { 
    display: none;
}
