

.components_widget_scrollview{
	background: var(--main-color);
	box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-bottom: 0.3em solid grey;
}

.widget_scrollview_widget_preview{
	background: red;
	border: 1px solid white;
	width: 30%;
	height: 100%;
	box-sizing: border-box;
	color: white;	
	display: inline-block;
	vertical-align: middle;
	background: var(--main-color);
    box-shadow: 0.5em 0em 2em .5em black;
	opacity: 0.50;
}

.components_widget_scrollview::-webkit-scrollbar { 
    display: none; 
}