

.components_widget_scrollview{
	background: var(--main-color);
	box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 70%;
}

.widget_scrollview_widget_preview{
	background: red;
	border: 1px solid white;
	width: 13%;
	height: 70%;
	margin: 2.5%;
	box-sizing: border-box;
	color: white;	
	display: inline-block;
	vertical-align: middle;
	background: var(--main-color);
	opacity: 0.5;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0.3em;

}
.widget_scrollview_widget_preview::after{
	content:"";
	position: absolute;
	margin-top: -12%;
	margin-left: 5%;
	font-size: 500%;
	color: white;
	font-family: "Arial";
}


.components_widget_scrollview::-webkit-scrollbar { 
    display: none; 
}

